{% extends 'base1.html' %}

{% block content %}

{% load static %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
 <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628"><meta name="twitter:site" content="@https://twitter.com"><meta name="twitter:card" content="summary_large_image">
<link rel="stylesheet" href="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/component-predictive-search.css?v=152580370784826015481642151672" media="print" onload="this.media='all'"><link href="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/bootstrap.css?v=182127510125710005861642997272" rel="stylesheet" type="text/css" media="all" />
<link href="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/theme.css?v=99425242137070151131642997269" rel="stylesheet" type="text/css" media="all" />	
<link href="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/vendor.css?v=16871426716420721791642151724" rel="stylesheet" type="text/css" media="all" />
<style data-shopify>
     .menu-dropdown__content {
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .menu-dropdown__content--megamenu {
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
  .full-width-img {
        width: 100%;
        height: 300px; /* Adjust height as needed */
        position: relative;
        background: url('http://127.0.0.1:8000/static/images/dress.jpg') no-repeat center center/cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: x-large;
    }
    </style>
<script>
  window.vela = window.vela || {};
  vela.strings = {
    shop_money_with_currency_format: "${{amount}} USD",
    shop_money_format: "${{amount}}",
    currency: "USD",
    moneyFormat: "\u003cspan class=money\u003e${{amount}}\u003c\/span\u003e",
    zoomClose: "Close (Esc)",
    zoomPrev: "Previous (Left arrow key)",
    zoomNext: "Next (Right arrow key)",
    productSlideLabel: "Slide [slide_number] of [slide_max].",
    countdownDays: "Days",
    countdownHours: "Hours",
    countdownMinutes: "Mins",
    countdownSeconds: "Secs",
    countdownFinish: "This offer has expired!",
    addToCart: "Add to Cart",
    soldOut: "Sold Out",
    unavailable: "Unavailable",
    inStock: "In stock",
    outStock: "Out of stock",
    cartEmpty: "Your cart is empty",
    cartCookies: "Enable cookies to use the shopping cart",
    newsletterSuccess: "Thanks for subscribing"
  };
  vela.settings = {
    currencies: false,
    cartType: "drawer",
    enableReview: true,
    enablePreLoading: true,
    enableQuickView: true,
    quickViewVariantType: "radio",
    quickViewColorSwatch: true,
    quickViewImageSwatch: true,
    fileURL: "//vela-demo-2.myshopify.com/cdn/shop/files/"
  };</script>
  
 <script src="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/vendor.js?v=162714921228786800891642151687" type="text/javascript"></script>
			<script src="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/global.js?v=21811310825093535331642151677" defer="defer"></script>
		<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/1251311679/digital_wallets/dialog">
<script async="async" src="/checkouts/internal/preloads.js?locale=en-IN"></script>
<script async="async" src="https://shop.app/checkouts/internal/preloads.js?locale=en-IN&shop_id=1251311679" crossorigin="anonymous"></script>
<script id="shopify-features" type="application/json">{"accessToken":"87ba84107d625c0df28c7235b74788d0","betas":["rich-media-storefront-analytics"],"domain":"vela-demo-2.myshopify.com","predictiveSearch":true,"shopId":1251311679,"smart_payment_buttons_url":"https:\/\/vela-demo-2.myshopify.com\/cdn\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/vela-demo-2.myshopify.com\/cdn\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","locale":"en"}</script>

</head>
	<body id="collections" class="template-list-collections"><div id="pre-loading" class="pre-loading ">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div>
<div class="full-width-img">
  <div class="overlay-text">Collections</div>
</div>
<div id="shopify-section-template--14252336807999__main" class="shopify-section">
<link href="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/section-collection-list.css?v=22361346899839190121642151682" rel="stylesheet" type="text/css" media="all" />
<div class="container"><div class="collection-list row g-3 g-lg-4"><div class="col-12 col-md-4 col-xl-4 pb-4">
				<div class="collection-list__item position-relative  overflow-hidden">
					<a class="collection-image position-relative d-block overflow-hidden" href="/collect/bag" title="Bags">
<div class="card_wrap">
        <div class="card__image position-relative lazyload js" style="padding-top:125.0%;" role="img"
        aria-label="Bags"
        data-alt="Bags"
        data-bgset="https://i.pinimg.com/474x/41/63/c3/4163c311688550a9995e110c0226040a.jpg"
        data-sizes="auto"
        >
            <noscript><img class="img-fluid noscript" src="https://img.kwcdn.com/product/1dab9a690e/63f7126c-f6a3-47ba-9755-705a8865abd3_1340x1786.jpeg.a.jpeg" /></noscript><div  class="pre-loading position-absolute">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div></div>
    </div></a>
					<div class="collection-content text-center pt-3 mt-2">
						<h2 class="collection-title">
							<a href="/collect/bag" >Bags</a>
						</h2>
						<div class="collection-count">11 products</div>
						<div class="collection-desc"></div>
						<div class="text-center">
							<a class="btn btn-default-outline text-uppercase" href="/collect/bag" title="Bags">Shop the collection</a>
						</div>
					</div>
				</div>
			</div><div class="col-12 col-md-4 col-xl-4 pb-4">
				<div class="collection-list__item position-relative  overflow-hidden">
					<a class="collection-image position-relative d-block overflow-hidden" href="/collect/bag" title="Denim">
<div class="card_wrap">
        <div class="card__image position-relative lazyload js" style="padding-top:125.0%;" role="img"
        aria-label="Denim"
        data-alt="Denim"
        data-bgset="https://i.pinimg.com/736x/67/c8/58/67c8584884ae59c7faec5b7c70dbfe6b.jpg"
        data-sizes="auto"
        >
            <noscript><img class="img-fluid noscript" src="//vela-demo-2.myshopify.com/cdn/shop/collections/7.jpg?v=1521267690" /></noscript><div  class="pre-loading position-absolute">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div></div>
    </div></a>
					<div class="collection-content text-center pt-3 mt-2">
						<h2 class="collection-title">
							<a href="/collect/bag" >Denim</a>
						</h2>
						<div class="collection-count">15 products</div>
						<div class="collection-desc"></div>
						<div class="text-center">
							<a class="btn btn-default-outline text-uppercase" href="/collect/bag" title="Denim">Shop the collection</a>
						</div>
					</div>
				</div>
			</div><div class="col-12 col-md-4 col-xl-4 pb-4">
				<div class="collection-list__item position-relative  overflow-hidden">
					<a class="collection-image position-relative d-block overflow-hidden" href="/collect/bag" title="Dress">
<div class="card_wrap">
        <div class="card__image position-relative lazyload js" style="padding-top:125.0%;" role="img"
        aria-label="Dress"
        data-alt="Dress"
        data-bgset="https://d3l45txiponal6.cloudfront.net/sites/files/willow/images/products/202401/800x1200/thalia_sand_04.jpg"
        data-sizes="auto"
        >
            <noscript><img class="img-fluid noscript" src="//vela-demo-2.myshopify.com/cdn/shop/collections/6.jpg?v=1521267683" /></noscript><div  class="pre-loading position-absolute">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div></div>
    </div></a>
					<div class="collection-content text-center pt-3 mt-2">
						<h2 class="collection-title">
							<a href="/collect/bag" >Dress</a>
						</h2>
						<div class="collection-count">15 products</div>
						<div class="collection-desc"></div>
						<div class="text-center">
							<a class="btn btn-default-outline text-uppercase" href="/collect/bag" title="Dress">Shop the collection</a>
						</div>
					</div>
				</div>
			</div><div class="col-12 col-md-4 col-xl-4 pb-4">
				<div class="collection-list__item position-relative  overflow-hidden">
					<a class="collection-image position-relative d-block overflow-hidden" href="/collect/bag" title="Home page">
<div class="card_wrap">
        <div class="card__image position-relative lazyload js" style="padding-top:125.0%;" role="img"
        aria-label="Home page"
        data-alt="Home page"
        data-bgset="https://d3l45txiponal6.cloudfront.net/sites/files/willow/images/products/202401/800x1200/thalia_teal_04.jpg"
        data-sizes="auto"
        >
            <noscript><img class="img-fluid noscript" src="//vela-demo-2.myshopify.com/cdn/shop/collections/8.jpg?v=1521267690" /></noscript><div  class="pre-loading position-absolute">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div></div>
    </div></a>
					<div class="collection-content text-center pt-3 mt-2">
						<h2 class="collection-title">
							<a href="/collect/bag" >Home page</a>
						</h2>
						<div class="collection-count">30 products</div>
						<div class="collection-desc"></div>
						<div class="text-center">
							<a class="btn btn-default-outline text-uppercase" href="/collect/bag" title="Home page">Shop the collection</a>
						</div>
					</div>
				</div>
			</div><div class="col-12 col-md-4 col-xl-4 pb-4">
				<div class="collection-list__item position-relative  overflow-hidden">
					<a class="collection-image position-relative d-block overflow-hidden" href="/collect/bag" title="Shoes">
<div class="card_wrap">
        <div class="card__image position-relative lazyload js" style="padding-top:125.0%;" role="img"
        aria-label="Shoes"
        data-alt="Shoes"
        data-bgset="https://gloimg.rglcdn.com/rosegal/pdm-product-pic/Clothing/2016/11/17/source-img/20161117170140_15355.jpg"
        data-sizes="auto"
        >
            <noscript><img class="img-fluid noscript" src="//vela-demo-2.myshopify.com/cdn/shop/collections/5.jpg?v=1521267657" /></noscript><div  class="pre-loading position-absolute">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div></div>
    </div></a>
					<div class="collection-content text-center pt-3 mt-2">
						<h2 class="collection-title">
							<a href="/collect/bag" >Shoes</a>
						</h2>
						<div class="collection-count">14 products</div>
						<div class="collection-desc"></div>
						<div class="text-center">
							<a class="btn btn-default-outline text-uppercase" href="/collect/bag" title="Shoes">Shop the collection</a>
						</div>
					</div>
				</div>
			</div><div class="col-12 col-md-4 col-xl-4 pb-4">
				<div class="collection-list__item position-relative  overflow-hidden">
					<a class="collection-image position-relative d-block overflow-hidden" href="/collect/bag" title="Skirts">
<div class="card_wrap">
        <div class="card__image position-relative lazyload js" style="padding-top:125.0%;" role="img"
        aria-label="Skirts"
        data-alt="Skirts"
        data-bgset=" https://th.bing.com/th/id/OIP.D4TfH-3-ovXyYj9kt_X4mAHaJQ?rs=1&pid=ImgDetMain"
        data-sizes="auto">
            <noscript><img class="img-fluid noscript" src="//vela-demo-2.myshopify.com/cdn/shop/collections/4.jpg?v=1521267647" /></noscript><div  class="pre-loading position-absolute">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div></div>
    </div></a>
					<div class="collection-content text-center pt-3 mt-2">
						<h2 class="collection-title">
							<a href="/collections/skirts" >Skirts</a>
						</h2>
						<div class="collection-count">12 products</div>
						<div class="collection-desc"></div>
						<div class="text-center">
							<a class="btn btn-default-outline text-uppercase" href="/collections/skirts" title="Skirts">Shop the collection</a>
						</div>
					</div>
				</div>
			</div><div class="col-12 col-md-4 col-xl-4 pb-4">
				<div class="collection-list__item position-relative  overflow-hidden">
					<a class="collection-image position-relative d-block overflow-hidden" href="/collections/t-shirts" title="T-Shirts">
<div class="card_wrap">
        <div class="card__image position-relative lazyload js" style="padding-top:125.0%;" role="img"
        aria-label="T-Shirts"
        data-alt="T-Shirts"
        data-bgset="https://th.bing.com/th/id/OIP.DBEaRUmseWou2bYYYIm7egHaJQ?w=640&h=800&rs=1&pid=ImgDetMain"
        data-sizes="auto">
            <noscript><img class="img-fluid noscript" src="//vela-demo-2.myshopify.com/cdn/shop/collections/3.jpg?v=1521267640" /></noscript><div  class="pre-loading position-absolute">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div></div>
    </div></a>
					<div class="collection-content text-center pt-3 mt-2">
						<h2 class="collection-title">
							<a href="/collections/t-shirts" >T-Shirts</a>
						</h2>
						<div class="collection-count">15 products</div>
						<div class="collection-desc"></div>
						<div class="text-center">
							<a class="btn btn-default-outline text-uppercase" href="/collections/t-shirts" title="T-Shirts">Shop the collection</a>
						</div>
					</div>
				</div>
			</div><div class="col-12 col-md-4 col-xl-4 pb-4">
				<div class="collection-list__item position-relative  overflow-hidden">
					<a class="collection-image position-relative d-block overflow-hidden" href="/collections/womens" title="Women's">
<div class="card_wrap">
        <div class="card__image position-relative lazyload js" style="padding-top:125.0%;" role="img"
        aria-label="Women&#39;s"
        data-alt="Women&#39;s"
        data-bgset="https://litb-cgis.rightinthebox.com/images/640x853/202109/bps/product/inc/xifllh1631803354145.jpg"
        data-sizes="auto">
            <noscript><img class="img-fluid noscript" src="//vela-demo-2.myshopify.com/cdn/shop/collections/2.jpg?v=1521267637" /></noscript><div  class="pre-loading position-absolute">
    <span class="pre-loading__bar"></span>
    <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div></div>
    </div></a>
					<div class="collection-content text-center pt-3 mt-2">
						<h2 class="collection-title">
							<a href="/collections/womens" >Women's</a>
						</h2>
						<div class="collection-count">30 products</div>
						<div class="collection-desc"></div>
						<div class="text-center">
							<a class="btn btn-default-outline text-uppercase" href="/collections/womens" title="Women's">Shop the collection</a>
						</div>
					</div>
				</div>
			</div></div>
</div>
</div>
			</div>
		</main>
		<div id="shopify-section-footer" class="shopify-section"><footer id="footer" class="footer">
    <div class="footer-inner position-relative lazyload js" ><div class="footer__center">
				<div class="container">
					<div class="footer__center-inner">
						<div class="row g-3 g-lg-4"><div class="col-12 col-md-6 col-lg-5">
  <script src="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/bootstrap.min.js?v=96883021649720821581642151670"></script>
  <script src="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/lazysizes.min.js?v=155223123402716617051642151679" async="async"></script>
  
  <script src="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/vela.js?v=118454240300810640011642151686" type="text/javascript"></script>
<script src="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/collection-filters-form.js?v=87127621072351838031642151671" defer="defer"></script><script src="//vela-demo-2.myshopify.com/cdn/shop/t/4/assets/predictive-search.js?v=83505858690467535521642151680" defer="defer"></script><script type="text/javascript">
   </script>
		<script>
			window.shopUrl = 'https://vela-demo-2.myshopify.com';
			window.routes = {predictive_search_url: '/search/suggest'
			};
		</script>
	</body>
</html>
{% endblock %}
