{
    category: "Coat & Jacket",
    imageSrc: "https://imgmedia.lbb.in/media/2021/07/60e439aef150434328cdd7bf_1625569710689.webp",
    name: "Midi Dress",
    price: 2000,
    description: "Stylish midi dress for all occasions.",
    shipping: "5-7 business days"
},
{
    category: "Coat & Jacket",
    imageSrc: "https://media.phase-eight.com/image/upload/f_auto,q_auto,dpr_auto/p8-catalog/images/901019501/901019501-99-mariposa-peplum-jacket?_i=AG",
    name: "Belted Single Breasted Trench Coat",
    price: 2000,
    description: "Stylish midi dress for all occasions.",
    shipping: "5-7 business days"
},
{
    category: "Coat & Jacket",
    imageSrc: "https://n1.sdlcdn.com/imgs/b/i/b/Vaak-Black-Rayon-Dresses-SDL331836469-1-f609b.jpg",
    name: "Rayon Dress",
    price: 2000,
    description: "Stylish midi dress for all occasions.",
    shipping: "5-7 business days"
},
{
    category: "Coat & Jacket",
    imageSrc: "https://m.media-amazon.com/images/I/71tF9O0WgwL._SY879_.jpg",
    name: "Midi Dress",
    price: 2000,
    description: "Soft rayon blend: this one-piece dress for women is made of a soft rayon blend material, featuring with floral printed beach dress for women.",
    shipping: "5-7 business days"
},
{
    category: "Coat & Jacket",
    imageSrc: "https://asset1.cxnmarksandspencer.com/is/image/mands/SD_01_T69_1650_A4_X_EC_0?$PDP_INT_IMAGE_MOBILE_DOUBLE$",
    name: "Floral V-Neck Midi Waisted Dress",
    price: 2000,
    description: "This dreamy floral midi dress brings a romantic feel to your wardrobe. It's cut in an easy regular fit, to a waisted silhouette for a figure-flattering look. A v-neckline creates a feminine air, while the short sleeves are elasticated at the cuffs to give on-trend fullness. The added stretch ensures it's ultra-comfortable to wear. M&S Collection: easy-to-wear wardrobe staples that combine classic and contemporary styles.",
    shipping: "5-7 business days"
},
{
    category: "Coat & Jacket",
    imageSrc: "https://asset1.cxnmarksandspencer.com/is/image/mands/SD_01_T53_3753U_QQ_X_EC_0?$PDP_INT_IMAGE_MOBILE_DOUBLE$",
    name: "Denim Dress",
    price: 2000,
    description: "This shirt dress from our Per Una range is made from pure cotton denim for a premium feel. It's designed in an easy regular fit, with a smart collared neckline. The two front pockets and button-up placket give the piece an on-trend utility look. A belted waist creates a flattering silhouette that complements the stylish midi-length skirt. Per Una: stylish designs crafted with carefully considered details and feminine flourishes.",
    shipping: "5-7 business days"
},
// Add more product objects here