{% extends 'base1.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ productz.pname }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{{ productz.pname }}</h1>
        <img src="{{ productz.image.url }}" class="img-fluid" alt="{{ productz.pname }}">
        <p>{{ productz.description }}</p>
        <p>Price: {{ productz.price }}</p>
        <a href="#" class="btn btn-success">Add to Cart</a>
    </div>
</body>
</html>
{% endblock %}