{% extends 'base1.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Privacy Policy</title>
<style>
  body {
    font-family: Arial, sans-serif;
  }
  .privacy-policy {
        margin-top: 4em; /* Adjust as needed */
        text-align: center;
        color: black;
        font-weight: bold;
    }

    /* Add styling for privacy content */
    .privacy-content {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        line-height: 1.6;
        margin-top: 2em;
    }
  
</style>
</head>
<body>
  <div class="privacy-policy">
    <h1>Shipping Policy</h1>
  </div>
  <div class="privacy-content">
    <p> When you shop online, here's what you need to do to get free shipping:</p>
    <p>1. Make sure you have at least $25 worth of eligible items in your Shopping Cart. Look for items marked with "FREE Shipping" on their product page.
    </p> 
<p>2. Go to checkout when you're ready.</p>
<p>3. Enter a delivery address.</p>
<p>4. Choose FREE Shipping as your shipping option.</p>
</div>
</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
{% endblock %}
