{% extends 'base1.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Privacy Policy</title>
<style>
  body {
    font-family: Arial, sans-serif;
  }
  .privacy-policy {
        margin-top: 4em; /* Adjust as needed */
        text-align: center;
        color: black;
        font-weight: bold;
    }

    /* Add styling for privacy content */
    .privacy-content {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        line-height: 1.6;
        margin-top: 2em;
    }
  
</style>
</head>
<body>
  <div class="privacy-policy">
    <h1>Terms of Service</h1>
  </div>
  <div class="privacy-content">
    <p>
        Accessing this website means you agree to the following Terms and Conditions ("Terms"). If you do not agree, you must not use the website.
    </p>
    <p> We can update these Terms at any time, so you should check them regularly. Changes will not affect orders we have already accepted unless required by law. If you break any of these Terms, your access will be canceled, and you may be permanently banned from the website. If you use the website after we post changes, it means you accept those changes, even if you did not review them. The date of the latest update to these Terms is shown at the bottom of this page.
    </p>
  </div>
</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>


{% endblock %}


